@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
  font-family:  montserrat;
}
.btn-primary{

  background-color: #7859fd;
  border:1px solid #7859fd;
  border-radius: 35px;

  
}
.btn-secondary{
  background-color: #fff;
  border:1px solid #7859fd;
  border-radius: 35px;
  color:#7859fd;
}
.btn-secondary:hover,.btn-secondary:focus{
  background-color: #7859fd;
  color: #fff;
  border:1px solid #7859fd;
}
